<p id="notice"><%= notice %></p>
<% if current_user.enterprise_id == @user.enterprise_id %>
	<p>
  		<b>Email:</b>
  		<%= @user.email %>
	</p>


	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
<% else %>
	<% redirect_to root_url %>
<% end %>