			</div>
			<div class="row">
				<div class="span4">
					<div class="hero-unit card-home card-admin">
						<h1>
							Administração
						</h1>
						<p>
							Painel de administração para mebros da empresa
						</p>
						<p>
							<a class="btn btn-large" href="/users/sign_in">Login »</a>
						</p>
					</div>
				</div>
				<div class="span4">
					<div class="hero-unit card-home card-subscribe">
						<h1>
							Inscrição
						</h1>
						<p>
							Formulário de inscrição para o processo seletivo corrente
						</p>
						<p>
							<a class="btn btn-large" href="#">Inscrever-se »</a>
						</p>
					</div>
				</div>
				<div class="span4">
					<div class="hero-unit card-home card-results">
						<h1>
							Resultados
						</h1>
						<p>
							Lista de aprovados nos processos seletivos anteriores
						</p>
						<p>
							<a class="btn btn-large" href="#">Visualizar »</a>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
				</div>
			</div>
		</div>
	</div>
</div>
