<h1><%= t('titles.selections.edit') %></h1>

<%= render 'form' %>

<%= link_to t('actions.back'), selections_path %> |
<%= link_to t('actions.delete'), @selection, method: :delete, data: { confirm: 'Are you sure?' } %>