body {
	background-image: url(bg_pattern.jpg);
}

.navbar-inner {
	background-color: #2c3e50;
	font-size: 20px;
}

.brand {
	background-color: #34495e;
	color:#fff !important;
	text-shadow: none !important;
}

.navbar {
	.nav {
		.active {
			a {
				&:hover { color: #ccc };
				color: #fff;
			}
			
		}
	}	
}

.navbar {
	.nav {
		li {
			a {
				&:hover { color: #fff };
				color: #ddd;
			}
			
		}
	}	
}

.card-home {
	padding: 10px;
	text-align: center;
	height: 200px;
	color: #fff;
	h1 {
		font-size: 40px
	}
	p {
		line-height: 20px;
		margin: 20px 0 0 0; 
	}
}

.card-admin {
	background: #3498db;
}

.card-subscribe {
	background: #e74c3c;
}

.card-results {
	background: #2ecc71;
}


.btn {
	border-radius: 1px !important;
	border: 0px !important; 
}